.header_container {
  width: 100vw;
  height: 7vh;
  padding: 0.3rem;
  background-color: #2e0052;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_img {
  width: 10rem;
  margin-right: 0.2rem;
}
.logo_div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo_div h3 {
  font-size: 1rem;
}
.logo_div img {
  width: 9rem;
}
.user_info {
  display: flex;
  align-items: center;
}
