.main_container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 92vh;
  flex-direction: column;
  gap: 1.4rem;
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.logo_container img {
  width: 2.5rem;
}
.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  height: 55vh;
  border: 2px solid #d9d9d9;
  border-radius: 0.4rem;
  padding: 0 1.4rem;
}
.login_header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input_field {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input_field label {
  font-weight: bold;
}
.input_field input {
  padding: 0.5rem;
  border: 1px solid #b6b6b6;
  border-radius: 0.3rem;
}
.error {
  color: rgb(155, 0, 0);
  font-size: 0.8rem;
}
.btn {
  border-radius: 8px;
  background: #2e0052;
  color: #fff;
  margin-top: 0.4rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.warning {
  font-size: 0.9rem;
  margin: 0.4rem 0;
}
.text {
  width: 40vw;
  align-items: center;
  justify-content: center;
  height: 2rem;
  display: flex;
  gap: 1rem;
}
.line {
  width: 11vw;
}
.createAccount_Btn {
  border-radius: 0.4rem;
  border: 2px solid #d9d9d9;
  width: 35vw;
  text-align: center;
  cursor: pointer;
}
.createAccount_Btn p {
  padding: 0.7rem;
}

/* Responcive Code  */
@media only screen and (max-width: 520px) {
  .mobile_heading {
    margin-top: 4rem;
  }
  .login_container {
    width: 90vw;
    gap: 1rem;

    padding: 0 1rem;
  }
  .text,
  .createAccount_Btn {
    width: 90vw;
  }

  .mobile_heading {
    font-size: 2rem;
    text-align: left;
    width: 90vw;
    color: #2e0052;
  }
}
